
.card img {
    width: 195px;
    height: 250px;
    
}

.card{
    width: 220px;
    height: 360px;
   margin-right: 20px;
   margin-top: 20px;
  
}
.container{
    margin-left: 200px;
}
h4{
    color: #007BFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150ch;
}