
<div class="container" style="align-items: center;">
    <div class="row">

        <ng-container *ngFor="let item of bookcart">

            <div class="card col-md-3">

                <img src="https://bookcart.azurewebsites.net/Upload/{{item.coverFileName}}" alt="">
                <h4><b>{{item.title}}</b></h4>
                <p>{{item.price | currency:'INR' }}</p>
                <button mat-raised-button color="primary">Add to cart</button>

            </div>
        </ng-container>
    </div>
</div>