
<div class="header">

    <a routerLinkActive="active" routerLink="home"><i class="fa-solid fa-truck-fast"></i> Book Cart</a>

    <span class="search">
        <input type="search" placeholder="Search books or authors">
    </span>


    <div class="icons">
        <a routerLinkActive="active" routerLink="cart"><i class="fa-solid fa-cart-arrow-down"></i><sup class="badge bg-danger">4</sup></a>
        <a routerLinkActive="active" routerLink="login">login</a>
        <a href="https://bookcart.azurewebsites.net/swagger/index.html" target="_blank">swagger</a>
        <a href="https://github.com/suganeshC?tab=repositories" target="_blank"><i class="fa-brands fa-github"></i> Github</a>
    </div>
</div>

<router-outlet></router-outlet>
